.affi{
	margin-top: 1%;
}
.tablejoueur{
	border: solid black 2px;
	text-align: center;
	width: 100%;
	margin-top: 2%;
	background-color: lightgrey;

}
.tablejoueurc{
		border: solid black 2px;
		background-color: #FFFACD;

}

th{
	background-color: lightgrey;
}

.tableco{
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border: solid black 2px;
	text-align: center;
	width: 30%;
	margin-top : 10%;
	margin-left: 33%
	

}
.bandeau{
	width: 100%;
	text-align: center;
	background-color : lightblue;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.buttonbandeau{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.textconnect{
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid black 2px;
	text-align: center;
	width: 100%;
	margin-top : 10%;

}
.inconnect{
	font-size: 20px;
}

.tableCreaJoueurs{
	float: left;
	background-color: lightgrey;
	border-top: solid black 2px;
	border-left: solid black 2px;
	border-bottom: solid black 2px;
	text-align: center;
	border-right: solid black 2px;
	height:350px;
	width: 30%;
	padding: 10px;
}

.tableModifJoueurs{
	margin: auto;
	float: top;
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
	border: solid black 2px;
	text-align: center;
	width: auto;
	padding: 5px;
	margin-top : 2%;
	height: 100px;
}
.tableSuppJoueurs{

	float: top;
	background-color: lightgrey;

	padding-top: 20px;
	padding-bottom: 20px;
	border-right: solid black 2px;
	border-left: solid black 2px;
	border-bottom: solid black 2px;	text-align: center;
	width: 100%;
	height: 70px;

}

.tableCreaClubs{
	float: left;
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid black 2px;
	border-left: solid black 2px;
	border-bottom: solid black 2px;
	text-align: center;
	width: 50%;
	margin-top : 2%;
	height: 300px;
}



.tableModifClubs{
	float: left;
	background-color: lightgrey;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: solid black 2px;
	border-left: solid black 2px;
	border-bottom: solid black 2px;
	text-align: center;
	width: 50%;
	margin-top : 2%;
	height: 300px;
}
.tableChangJoueurs{
	float: top;
	float: left;
	text-align: center;
	background-color: lightgrey;
	border-right: solid black 2px;
	border-bottom: solid black 2px;
	text-align: center;
	border-top: solid black 2px;
	width: 20%;
	height: 350px;
	padding: 10px;

}

.tablejoueurhisto{
	float: top;
	float: right;
	background-color: lightgrey;
	border-bottom: solid black 2px;
	border-right: solid black 2px;
	border-left: solid black 2px;
	text-align: center;
	border-top: solid black 2px;
	width: 20%;
	height: 220px;
	padding: 10px;
}


.affichjoueurhisto{
	background-color: lightgrey;
	border-bottom: solid black 2px;
	border-right: solid black 2px;
	border-left: solid black 2px;
	text-align: center;
	border-top: solid black 2px;
	width: 40%;
	height: 220px;
	padding: 10px;
	float:right;
	margin-bottom: 20px;
	margin-right: 100px;
	}